RewriteEngine On
RewriteRule ^\.builds - [F,L]

PassengerAppRoot /home/u556180082/domains/lightsteelblue-cobra-503372.hostingersite.com/nodejs
PassengerAppType node
PassengerNodejs /opt/alt/alt-nodejs18/root/bin/node
PassengerStartupFile start.cjs
PassengerBaseURI /
PassengerRestartDir /home/u556180082/domains/lightsteelblue-cobra-503372.hostingersite.com/nodejs/tmp

# Bloqueia a injeção que causa o erro 503
# SetEnv NODE_OPTIONS "--require /home/u556180082/domains/lightsteelblue-cobra-503372.hostingersite.com/public_html/.builds/config/preload-timestamp.js"
# SetEnv LSNODE_CONSOLE_LOG console.log